/*==================================================================================
    Creado por 
  ____       _               _   _                ____      _                        
 / ___|  ___| |__   __ _ ___| |_(_) __ _ _ __    / ___|__ _| |__  _ __ ___ _ __ __ _ 
 \___ \ / _ \ '_ \ / _` / __| __| |/ _` | '_ \  | |   / _` | '_ \| '__/ _ \ '__/ _` |
  ___) |  __/ |_) | (_| \__ \ |_| | (_| | | | | | |__| (_| | |_) | | |  __/ | | (_| |
 |____/ \___|_.__/ \__,_|___/\__|_|\__,_|_| |_|  \____\__,_|_.__/|_|  \___|_|  \__,_|

 color que se utlizara #3498DB
                                                                                     
======================================================================================*/

/* etiquetas de de configuracion */

* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Varela+Round");
:root {
    --color-0: #29869b;
    --color-1: #21d4fd;
    --color-2: #bf5dec;
    --color-3: #3498DB;
    --color-4: #2af598;
}

body {
    font-family: 'Varela Round', sans-serif;
}
/* etiquetas del contenedor del cabecero */
.Header {
    position: relative;
    height: 70vh;
    display: block;
}

.Header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(19deg, var(--color-1), var(--color-2));
    -webkit-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
    overflow: hidden;
    z-index: -1;
}

.Header-background::before, .Header-background::after {
    display: block;
    position: absolute;
    content: '';
    width: 80%;
    height: 33.333333333333336%;
    opacity: 0.3;
    -webkit-filter: blur(15px);
    filter: blur(15px);
}

.Header-background::before {
    background: var(--color-1);
    right: 0;
}

.Header-background::after {
    background: var(--color-2);
    bottom: 0;
}

.Header-content {
    text-align: center;
    padding: 4rem 4rem;
    margin: 0 auto;
}

.Header-hero h1, .Header-hero p {
    color: #fff;
    text-shadow: 0 0.5rem 1rem rgba(50, 0, 100, 0.1);
}

.Header-hero h1 {
    margin: 0;
    font-size: 3rem;
}

.Header-hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.Header-visuals {
    position: relative;
    margin: 10px;
    margin-top: 5px;
}
/* etiquetas del contenedor de los botones  */
.Button {
    margin-top: 3rem;
    margin-left: 0.5rem;
    padding: 1.5rem 3rem;
    border: 0;
    color: var(--color-3);
    font-size: 1.2rem;
    font-weight: bold;
    background: #fff;
    border-radius: 7px;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.15);
}
.Button:hover {
    color: var(--color-1);
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.Button:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}


#mySidenav a {
  position: absolute;
  left: 100rem;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
 color: var(--color-3);  
}

#mySidenav a:hover {
  right:  0;
   color: var(--color-1);
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

#about {
  top: 20px;
  float: right;
}


/* etiquetas del contenedor de los botones la transicion de cada boton del cabecero */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.avatar {
    border-radius: 50%;
}
/* etiquetas del contenedor del texto que aparecen antes de cada campo */
i {
    font-weight: bold;  
    font-size: 17px;
    margin-left: 1rem;
    font-style: normal;
    color: var(--color-3);
}
/* etiquetas del contenedor del texto en general */
.Campos {
    margin-left: 1rem;
    margin-top: 5px;
    padding: 1rem 2rem;
    border: 0;
    color: var(--color-3);
    font-size: 1.2rem;
    font-weight: bold;
    background: #fff;
    border-radius: 7px;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.15);
}

.Campos:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.Campos:hover {
    color: var(--color-0);
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/* etiquetas del contenedor del texto de perfil y estudios */
.Campose {
    font-style: italic;
    margin-left: 1rem;
    margin-top: 5px;
    padding: 1rem 2rem;
    border: 0;
    text-align:justify ;
    color: var(--color-3);
    font-size: 1rem;  
    background: #fff;
    border-radius: 7px;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow: 0 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.15);
}

.Campose:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}

.Campose:hover {
    color: var(--color-0);
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

textarea {    
    margin-left: 1rem;
    resize: none;
    height: 11rem;
    width: 40rem;
}

/* etiquetas del contenedor de cabecero */

.Iphone {
    margin-top: 2rem;
    display: inline-block;
    background: rgb(255, 255, 255);
    padding: 2rem 0.3rem 0;
    border-radius: 2rem;
    box-shadow: -1rem 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.3), -0.2rem 0.2rem 0.5rem rgba(50, 0, 100, 0.05), inset 0.5rem -0.5rem 0.5rem -0.4rem rgba(50, 0, 100, 0.3);
    text-align: center;
}

.Iphone::before, .Iphone::after {
    content: '';
    display: block;
}

.Iphone::before {
    width: 14rem;
}

.Iphone::after {
    padding: 1.4rem;
    box-shadow: inset -0.05rem 0.05rem 0.5rem 0rem rgba(50, 0, 100, 0);
}
/* etiquetas del contenedor de de la imagen de perfil */
.contimg {    
   
    border: 0;         
    background: #fff;
    border-radius: 250px;
    transition: all 0.2s;
    cursor: default;
    box-shadow: 0 1.75rem 2rem -0.4rem rgba(50, 0, 100, 0.15);
}

.contimg:hover {
    
    box-shadow: 0 1.75rem 3rem 0rem rgba(50, 0, 100, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.contimg:active {
    box-shadow: 0 1.75rem 2.5rem -0.2rem rgba(50, 0, 100, 0.125);
    -webkit-transform: scale(1.025);
    transform: scale(1.025);
}
 /* etiquetas para los anexos */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
 
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color:  rgba(50, 0, 100, 0.3); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
